/**
 * Stylesheet to set styling for entire website (since it is a single page)
 */
body {
    margin: 0 0 0 0;
    font-family: 'Merriweather';
}

a {
    text-decoration: none;
}

p, h1, h3 {
    margin: 0 0 0 0;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 42px;
    color: var(--opposite-theme-color);
}

h3 {
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: var(--darker-accent);
}

p {
    text-align: left;
    font-size: 18px;
    color: var(--off-color);
    line-height: 1.75;
}

/* Smoothscroll functionality for article
   ========================================================================== */
.scroller {
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Sets each section as snap points */
.scroller section {
    scroll-snap-align: start;
}


/* Dark/Light theme functionality
   ========================================================================== */
.theme-light {
    --lighter-background-color: rgb(201, 200, 200);
    --darker-background-color: rgb(138, 138, 138);
    --lighter-accent: #1e56a0;
    --darker-accent: #1b3d8b;
    --div-background-color: #cecece;
    --darker-div-background-color: #cecece;
    --off-color: #000000;
    --opposite-theme-color: rgb(14, 14, 14);
    --theme-color: rgb(241, 241, 241);
}

.theme-dark {
    --lighter-background-color: #222;
    --darker-background-color: rgb(17, 17, 17);
    --lighter-accent: rgb(134, 72, 72);
    --darker-accent: rgb(134, 25, 25);
    --div-background-color: #222222;
    --darker-div-background-color: #1b1b1b;
    --off-color: rgb(194, 194, 194);
    --opposite-theme-color: rgb(241, 241, 241);
    --theme-color: rgb(14, 14, 14);
}

#theme-switch-button {
    z-index: 2;
    position: absolute;
    top: 11px;
    left: 9px;
    width: 70px;
    height: 40px;
    background-color: var(--theme-color);
    border: 2px solid var(--opposite-theme-color);
    border-radius: 50px;
    transition: .4s;
}

#theme-switch-button:hover {
    background-color: var(--opposite-theme-color);
    border: 2px solid var(--theme-color);
}

/* ==========================================================================
   Toolbar Section
   ========================================================================== */
#toolbar-wrapper {
    z-index: 5;
    display: block;
    position: fixed;
    top: 0;
    height: 79px;
    width: 100%;
    text-align: center;
}

/* Adjusts all buttons to properly center on screen */
#toolbar-buttons {
    padding-right: 42px;
}

#toolbar-buttons a {
    color: var(--opposite-theme-color);
    transition-duration: 0.3s;
}

#toolbar-buttons a:hover {
    color: var(--darker-accent);
}

#toolbar-buttons li {
    display: inline-block;
    padding: 12px 14px 0 14px;
    font-size: 20px;
    background: none;
    cursor: pointer;
    transition-duration: 0.3s;
}

/* Line underneath entire toolbar
   ========================================================================== */
#toolbar-line {
    width: 600px;
    margin: auto;
    border-top: 1px solid var(--opposite-theme-color);
    text-align: center;
}

#toolbar-buttons li:hover {
    transform: translateY(8px);
}

/* Lowers the toolbar item depending on which section the screen is viewing */
.active {
    transform: translateY(8px);
}

/* ==========================================================================
   Home Section
   ========================================================================== */
#home-wrapper {
    display: flex;
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: var(--lighter-background-color);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    clear: both;
}

#home-text h1 {
    margin-top: 180px;
    margin-bottom: 0px;
    font-size: 68px;
}

#home-text h3 {
    margin: 0 0 0 0;
}

/* Desk SVG styling
   ========================================================================== */
svg {
    height: 25vh;
    min-height: 150px;
    width: 100%;
    margin-top: 10vh;
    padding: 50px;
    filter: brightness(1.25);
    background-color: var(--darker-background-color);
    border: 5px solid;
}

/* "Learn More" button at bottom of home screen
   ========================================================================== */
#learn-more-button {
    margin: auto 6px 50px 6px;
    /* positions button at bottom of screen */
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 50px;
    transition: .7s;
}

#learn-more-button a {
    padding: 8px 30px 8px 30px;
    color: var(--off-color);
    background-color: var(--theme-color);
    border-radius: 50px;
    transition: .7s;
}

#learn-more-button a:hover {
    color: var(--darker-accent);
    background-color: var(--opposite-theme-color);
    cursor: pointer;
    transition: .7s;
}

/* ==========================================================================
   About Section
   ========================================================================== */
#about-wrapper {
    display: inline-block;
    height: auto;
    min-height: 100%;
    width: 100%;
    margin: 0 auto 0 auto;
    color: gray;
    background-color: var(--darker-background-color);
    text-align: center;
}

/* Divides the screen between the text and info pannels. 
   ========================================================================== */
#info-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* Stacks screen elements when screen is less than 1200px */
@media only screen and (max-width: 1200px) {
    #info-wrapper {
        display: block;
    }
}

/* about-me-wrapper = description pannel with selfie (left) | me-info-wrapper = quick facts sheet pannel (right) */
#about-me-wrapper,
#me-info-wrapper {
    height: auto;
    margin: 60px;
    padding: 25px 25px 25px 25px;
    border: solid 1px;
    border-radius: 5px;
    outline-style: solid;
    outline-color: var(--div-background-color);
    outline-width: 25px;
    background-color: var(--div-background-color);
}

/* selfie */
#about-me-wrapper img {
    float: left;
    max-width: 200px;
    margin: -10px 10px 10px -10px;
    border-radius: 30%;
    border: 2px solid;
}

#me-info-list {
    margin: 0;
    padding: 25px;
    text-align: left;
    list-style: none;
}

#me-info-wrapper li {
    padding: 14px 0;
    border-bottom: solid 1px rgba(128, 128, 128, 0.4);
    color: var(--off-color);
}

#me-info-wrapper strong {
    color: var(--lighter-accent);
    letter-spacing: 2px;
}

/* Social and resume buttons at the bottom of the section
   ========================================================================== */
.social-buttons {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
}

.social-buttons li {
    display: list-item;
    margin: 12px 15px 0 15px;
    list-style: none;
    transition: .3s;
}

.social-buttons li:hover {
    transform: translateY(10px);
}

.social-buttons li a {
    color: var(--off-color);
    font-size: 60px;
    transition: .3s;
}

.social-buttons li a:hover {
    color: var(--darker-accent);
}

#resume-button {
    padding: 20px 13px 20px 13px;
    color: var(--off-color);
    background-color: var(--div-background-color);
    font-size: 22px;
    letter-spacing: 3px;
    border-radius: 5px;
    transition: .3s;
}

#resume-button a {
    padding: 8px 30px 8px 30px;
    border: 1px solid;
}

#resume-button a:hover {
    color: var(--darker-accent);
    background-color: var(--opposite-theme-color);
    cursor: pointer;
    transition: .3s;
}

#resume-button:hover {
    background-color: var(--opposite-theme-color);
}

#resume-download-link {
    color: var(--off-color);
    cursor: pointer;
    transition: .3s;
}

#social-button-pannel {
    margin: 50px;
    margin-bottom: 150px;
}

/* ==========================================================================
   Experience Section
   ========================================================================== */
#experience-wrapper {
    display: inline-block;
    height: auto;
    min-height: 100%;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: var(--lighter-background-color);
}

/* List of current software experiences */
#experience-list {
    position: relative;
    margin: 0;
    padding: 40px 40px 40px 40px;
    list-style: none;
    background-color: var(--darker-div-background-color);
}

/* Singular experience item for list */
.experience-item {
    z-index: 0;
    width: 65%;
    margin: auto;
    padding: 25px 25px 25px 25px;
    background-color: var(--div-background-color);
    color: var(--off-color);
    border-radius: 5px;
    border: solid 1px;
    outline-style: solid;
    outline-color: var(--div-background-color);
    outline-width: 25px;
}

/* Text and bullet formats for experience list
   ========================================================================== */
.experience-item h4,
.experience-item h3,
.experience-item h2,
.experience-item em {
    display: block;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    text-align: left;
}

.experience-item h4 {
    font-size: 20px;
    color: var(--off-color);
}

.experience-item h3 {
    font-size: 18px;
    color: var(--lighter-accent);
}

.experience-item em {
    font-size: 14px;
    color: var(--off-color);
}

.experience-bullets li {
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
    color: var(--off-color);
}

/* ==========================================================================
   Project Section
   ========================================================================== */
#projects-wrapper {
    display: inline-block;
    height: auto;
    min-height: 100%;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    background-color: var(--darker-background-color);
}

/* Gallery to hold each individual project on grid, centered on page, in rows of 3
   ========================================================================== */
#project-gallery {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto;
    height: auto;
    width: 50%;
    margin: auto;
    margin-bottom: 500px;
    justify-items: center;
}

/* Sets up each individual project */
.project {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin: 50px;
    text-align: center;
    outline-style: solid;
    outline-color: var(--off-color);
    outline-width: 3px;
    transition: .2s;
}

/* Enlarges project on hover */
.project:hover {
    z-index: 1;
    width: 500px;
    height: 500px;
    margin: 0;
    margin-bottom: -100px;
}

/* a is used to link to corresponding Github page */
.project a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Holds text & link over background img. Fades in on hover */
.project-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* Enlarges overlay on hover to match project size & shows text */
.project-overlay:hover {
    z-index: 1;
    opacity: 1;
    backdrop-filter: blur(15px);
    width: 500px;
    height: 500px;
    transition: 0.2s ease-in-out;
}

/* Stacks screen elements when screen is less than 1550px */
@media only screen and (max-width: 1650px) {
    #project-gallery {
        display: block;
        text-align: center;
    }

    .project {
        margin: 70px;
    }
}

/* Styling for text and overlay content
   ========================================================================== */
/* Background img */
.project img {
    height: 100%;
    width: 100%;
}

/* h2 = Header, p = description, span = tags */
.project-overlay h2,
.project-overlay p,
.project-overlay span {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: var(--div-background-color);
    border: solid 1px;
    outline-style: solid;
    outline-color: var(--div-background-color);
    outline-width: 5px;
}

.project-overlay h2 {
    color: var(--darker-accent);
}

.project-overlay p {
    padding: 2px;
    color: var(--opposite-theme-color);
}

.project-overlay span {
    display:inline-block;
    margin: 7px;
    padding: 5px;
    font-size: 13px;
    color: var(--lighter-accent);
}

/* ### CONTACT ### */
#contact-wrapper {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: var(--off-color);
    background-color: var(--lighter-background-color);
}

#contact-wrapper h2 {
    margin-left: 100px;
    margin-right: 100px;
}

#contact-wrapper .social-buttons i {
    padding: 25px 25px 25px 25px;
    font-size: 150px;
}